body{
	margin: 0;
	padding: 0;
}

.container{
 width: 994px;
	height: 650px;
	//background: gray;
	position: relative;
}
.wrapper{
	position:relative;
	top:30%;
	height: 40px;
	left:30%;
	//background: yellow;
	width:33%;
	border-bottom: 1px dotted black;
}
.ul{
	list:none;
	text-align: justify;
	
}

.list_item{
	display: inline-block;
	padding-left:15px; 
	padding-top: 15px;
    text-align: center;
	background-position:0 15px;
}



.content{
//	height: 600px;
	//background: blue;
	border: 1px solid black;
}
a{
	color:black;
	&:hover{
		color:blue;
	}
}

.list_2_item{
	padding-top: 10px;
}
#sex{
	display: inline;
	position: absolute;
	top:-70px;
}
.active{
	background: orange;

	
}
.list_2_item{
	display:none;
}

.active_2{
	display: block;
}
.task_2{
	height: 600px;
	border:1px solid black;
	margin-top:10px;
	text-align: center;
}
h2{
	font-size: 2em;
	font-weight: bold;
	}
h3,h4{
		font-size: 2em;
		font-weight: bold;
border-bottom: 1px dotted black;
	}

.image{
	margin-top: 20px;
}
.list_img{
	text-align: justify;
}
.grid{
	width:280px;
	display: inline-block;
	margin-top: 50px;
	//background: yellow;
	list-style: none;
	
}

.list_img_item{
	width: 50px;
	height: 50px;
	overflow: hidden;
	float:left;
	margin-right: 10px;
	&:hover{
	cursor:pointer;
	border:3px solid blue;

	}
}
.imgstyle{
	
}

.task_3{
	//background:yellow;
	list-style: circle;
	#p_1,#p_2,#p_3,#p_4{
	font-size:20px;
	font-weight: bold;
	}
	a{
		text-decoration: none;
	}
}
.task_3_list_item_1,.task_3_list_item_2,.task_3_list_item_3,.task_3_list_item_4{
	padding-bottom: 5px;
	display: none;
	
}

.task_3_list_1,.task_3_list_2,.task_3_list_3,.task_3_list_4{
	border-bottom: 3px solid blue;
}
.act{
	
}
